.pastbookings {
  padding: 60px;
  padding-top: 30px;
}

.bookingheading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #000000;

  .bookingheading__heading {
      font-size: 20px;
  }
}

.bookingcards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .bookingcard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    border-radius: 20px;
    box-shadow: 5px 4px 12px 1px rgba(0, 0, 0, 0.25);
    margin: 40px 60px ;

    .bookingcard__column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 15px;

      img {
        width: 200px;
      }

      button {
        background-color: #780000;
        border-radius: 7px;
        padding: 5px 20px;
        color: #ffffff;
      }
    }
  }
}

.loadMore {
  button {
    background-color: #780000;
    border-radius: 7px;
    padding: 5px 20px;
    color: #ffffff;
  }
}