.pkg_component {
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF8EA;
  margin: 30px 0;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  flex-wrap: wrap;

  .text {
    display: flex;
    flex-direction: column;

    h2 {
      margin: 0;
    }
  }
  
  .left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .productCard__heading {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 10px;
      align-items: center;
      .tag {
        background-color: #669BBC;
        border-radius: 5px;
        padding: 4px;
        p {
            font-size: 8px;
            color: #ffffff;
            font-weight: bold;
            text-align: center;
            letter-spacing: 0.3px;
            margin: 0;
        }
      }
    }

    .productCard__change {
      height: 150px !important;
    }

    img {
        height: 220px;
        border-radius: 10px;
        justify-content: center;
        align-self: center;
    }
  
    .tags {
      display: flex;
      flex-direction: row;
      gap: 5px;
  
      .tag {
        background-color: #669BBC;
        border-radius: 5px;
        padding: 4px;
        cursor: pointer;
        border: none;
        p {
            font-size: 12px;
            color: #ffffff;
            font-weight: bold;
            text-align: center;
            letter-spacing: 0.3px;
            margin: 0;
        }
      }
    }
  }
  
  .right {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 35px;

    .productCard__customizepackage {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 15px;
      margin-top: 15px;

      .productCard__editbtn {
        color: #003049;
        font-weight: bold;
        font-size: 14px;
        background-color: transparent;
        border-radius: 7px;
        padding: 7px 15px;
        cursor: pointer;
      }
    }

    .productCard__ratingPrice {
      gap: 30px;
      display: flex;
      flex-direction: column;
    }
    .prices {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  
      p {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
      }
    }
  
    .bookbutton {
      border: none;
      color: #ffffff;
      font-weight: bold;
      font-size: 15px;
      background-color: #780000;
      border-radius: 7px;
      padding: 10px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1281px) {
  .pkg_component {
    .left {
      width: inherit;
      justify-content: center;
      img {
        width: inherit;
        object-fit: cover;
      }
      .text {
        width: inherit;
        h2 {
          text-align: center;
          margin-top: 0;
        }
      }
    }
    .right {
      width: inherit;
      gap: 10px;
      .bookbutton {
        width: inherit;
      }

      .productCard__customizepackage {
        justify-content: space-between; 
        width: inherit;
        .productCard__editbtn {
          width: inherit;
        }
      }
      .productCard__ratingPrice {
        width: inherit;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
  }
}