.filter {
    margin: 10px 0 0 0;
    padding: 20px 10px;
    width: -webkit-fill-available;
    background-color: #003049;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .MuiSvgIcon-root {
        color: #ffffff !important;
    }

    .MuiOutlinedInput-root {
        color: #ffffff !important;
    }
}

.filterCategory {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p {
        margin: 0;
        color: #ffffff;
    }
}

.css-1yjjitx-MuiSwitch-track {
    background-color: aliceblue !important;
}