.profiledescription {
  padding: 60px;
}

.profileheader {
    color: #000000;

    .profiletitle {
        font-size: 20px;
    }
}

.profiledesc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .profile__complete {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 80px;
    }

    .profile__category {
      display: flex;
      flex-direction: column;
      .profileAttribute {
        color: #780000;
      }
      p {
        font-size: 100%;
      }
      img {
        height: 200px;
        padding: 10px;
      }
      button {
        background-color: #780000;
        border-radius: 7px;
        padding: 5px 20px;
        color: #ffffff;
      }
    }
  
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }