.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #003049;
  color: #ffffff;
  padding: 15px;
  margin-bottom: 10px;

  ::-moz-selection {
    color: #ffffff;
    background: #780000;
  }
  
  ::selection {
    color: #ffffff;
    background: #780000;
  }

  .header__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 220px;

    a {
      color: #ffffff;
    }
  }

  .header__profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 110px;
  }

  .header__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #DADAE3 !important;
    padding: 10px;
    margin-left: 10px;
    margin: 7px;
    border-radius: 7px;
    width: 40%;

    input {
      border: none;
      background: #DADAE3 !important;
      outline-width: 0;
      width: 100%;
    }

    svg {
        color: #003049;
        height: 18px;
    }
  }
}