.topoffers {
  height: 400px;
  background-color: #669BBC;
  margin: 10px 0;
  padding: 10px;

  .splide__slide {
    width: auto !important;
    padding: 10px 10px 0 10px !important;
  
    img {
      height: 283px;
      width: 450px;
      object-fit: cover;
      border-radius: 20px;
    }
  }
  .topoffer__description {
    width: 450px;
    cursor: pointer;
    h3 {
      margin-bottom: 0;
    }
  }
}


.topoffer__details {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .topOffer__price {
    color: #ffffff;
    display: flex;
    flex-direction: column;

    p {
      font-size: 18px;
      font-weight: bold;
      margin: 0;
    }
  }

  .topoffer__bookbutton {
    border: none;
    color: #ffffff;
    font-weight: bold;
    background-color: #003049;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .splide__slide {
    img {
      height: 150px;
    }
  }
  .topoffers {
    height: 280px;
    .category {
      img {
        width: 50%;
      }
    }
  }
  .topoffer__description {
    width: 300px;
    h3 {
      font-size: 16px;
    }
  }
  .topoffer__details {
    s {
      font-size: 12px;
    }
    p {
      font-size: 16px;
    }
  }
}
