.floristpage__desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  .floristpage__menu {
    width: 75%;
    margin: 0 30px 30px 60px;
  }

  .floristpage__order {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
    width: 25%;
    margin: 30px 60px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 1000px) {
  .floristpage__desc {
    flex-wrap: wrap-reverse;
    .floristpage__menu {
      width: 100%;
      margin: 0 30px 30px 30px;
    }
  
    .floristpage__order {
      width: 100%;
      margin: 30px;
    }  
  }
}